.img_main {
  max-width: 100%;
}

.event_heading_main {
  margin: 15px;
}

.heading_title {
  font-family: "Helvetica" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 28px !important;
  line-height: 32px !important;
  color: #240d57;
}

.heading_sub_title {
  font-family: "Helvetica" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #828282;
  margin-top: 8px !important;
}
.typo_date_time {
  display: flex;
  flex-direction: column;
}
.avatar {
  background-color: white !important;
  width: 48px !important;
  height: 48px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px !important;
}
.typo_time {
  font-family: "Helvetica" !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  color: #240d57;
}
.typo_date {
  font-family: "Helvetica" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #4f4f4f;
}
.list_item {
  gap: 10px;
}
.icon_calendar {
  width: 24px;
  height: 24px;
  color: #8456ec;
}

.gt_icon {
  font-size: 1rem !important;
}

.icon_location {
  width: 24px;
  height: 24px;
  color: #8456ec;
}
